<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='s3.css') }}">
</head>

<body>
    <nav class="navbar">
        <h1 class="logo">HOMEMADE.</h1>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li class="active"><a href="{{ url_for('main.submit_order') }}">Requests</a></li>
            <li><a href="#discussion">Discussion</a></li>
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <img src="{{ url_for('static', filename='image/menu-btn.png') }}" alt="Menu" class="menu">
    </nav>
    <header>
        <div class="header-content">
            <h2 class="mainTitle">Request Page</h2>
            <div class="line"></div>
            <h1 class="caption">Submit Your Personal Cooking Request Here.</h1>
        </div>
    </header>
    <section class="request-form-section">
        <div class="flex-container">
            <div class="request-form">
                <form method="POST" action="{{ url_for('main.submit_order') }}" id="orderForm">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.first_name.label }} {{ form.first_name(size=20) }}
                        {{ form.last_name(size=20) }}
                    </div>
                    <div class="form-group">
                        {{ form.address.label }} {{ form.address(size=50) }}
                    </div>
                    <div class="form-group">
                        {{ form.suburb.label }} {{ form.suburb(size=20) }}
                    </div>
                    <div class="form-group">
                        {{ form.phone.label }} {{ form.phone(size=20) }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label }} {{ form.email(size=30) }}
                    </div>
                    <div class="form-group">
                        {{ form.meal.label }} {{ form.meal() }}
                    </div>
                    <div class="form-group">
                        {{ form.submit() }}
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="footer">
        <p>123 Fifth Avenue, NSW, SYD | Phone: 000-123-456 | Email: contact@example.com</p>
        <p>Copyright © HOMEMADE.</p>
    </section>
</body>

</html>
