<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="static/login.css">

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById('new-user-link').addEventListener('click', function(event) {
                event.preventDefault(); // Prevent default action of clicking anchor link
            
                // Redirect to the /register page
                window.location.href = '/register';
            });

            // Add event listeners to the login buttons
            document.querySelector('.login-form .login-btn:nth-child(1)').addEventListener('click', function(event) {
                event.preventDefault();
                window.location.href = '/login-cook';
            });

            document.querySelector('.login-form .login-btn:nth-child(2)').addEventListener('click', function(event) {
                event.preventDefault();
                window.location.href = '/login-patron';
            });
        });
    </script>

</head>

<body>
    <div class="container">
        <h1 class="logo">HOMEMADE.</h1>
        <h2>Login as a...</h2>
        <div class="login-form">
            <button class="login-btn">Homecook</button>
            <button class="login-btn">Patron</button>
        </div>
        <div class="footer">
            <a href="#" id="new-user-link" class="footer-link">New User?</a>
        </div>
    </div>
</body>
</html>