<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Form</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}
        </p>
        <p>
            {{ form.suburb.label }}<br>
            {{ form.suburb(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.phone.label }}<br>
            {{ form.phone(size=32) }}
        </p>
        <p>
            {{ form.meal.label }}<br>
            {{ form.meal() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</body>
</html>
